.articles {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 280px;

  @media screen and (max-width:599px) {
    height: auto;
  }

  .article-card {
    height: 100%;
    width: calc((100% - (20px * 2)) / 3);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px #0003;
    display: block;
    text-decoration: none;
    color: #333;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;

    @media screen and (max-width:599px) {
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: 0.8;
    }

    .article-img {
      aspect-ratio: 16/9;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .article-caption {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;

      .article-title {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-top: 10px;
      }
    }
  }
}
