<div class="info-contents">
  <section class="info-section">
    <h2>「おとカラゆうき」とは</h2>
    <div class="desc">
      <p>
        「おとカラゆうき」をご利用いただきありがとうございます。<br />
        本サービスは、アイドルマスターの楽曲に特化した、カラオケ楽曲検索サービスです。
      </p>
      <p>
        ※
        本プロジェクトは、個人で開発しているものであり、第一興商およびアイドルマスター運営とは関係ございません。
      </p>
    </div>
  </section>

  <section class="info-section">
    <h2>対応状況</h2>
    <div class="desc">
      <p>
        本サービスは、DAMでの使用を前提としており、最新機種「LIVE DAM
        Ai」の楽曲情報を表示しています。<br />
      </p>
      <section class="info-subsection">
        <h3>対応済</h3>
        <ul>
          <li>シンデレラガールズ</li>
          <li>シャイニーカラーズ</li>
          <li>ミリオンライブ</li>
        </ul>
      </section>
      <section class="info-subsection">
        <h3>未対応（今後の対応を予定しています）</h3>
        <ul>
          <li>765PRO ALLSTARS</li>
          <li>SideM</li>
        </ul>
      </section>
    </div>
  </section>

  <section class="info-section">
    <h2>開発</h2>
    <div class="desc">
      <p>
        本プロジェクトは、GitHubの
        <a href="https://github.com/rairus00/otokara-imas" target="_blank">
          otokara-imas</a>
        リポジトリにて開発しています。
        <br />
      </p>
    </div>
  </section>

  <section class="info-section">
    <h2>ライセンス</h2>
    <div class="desc">
      <p>
        本サービスにおけるライブに関する情報は
        <a href="https://api.fujiwarahaji.me/doc/" target="_blank" rel="noopener">
          ふじわらはじめAPI
        </a>
        から取得し、
        <a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">
          クリエイティブ・コモンズ 表示 - 非営利 4.0 国際 ライセンス
        </a>
        に基づいて使用しています。
        <br />
        APIの提供元である「ふじわらはじめ」様に、心より感謝いたします。
      </p>
      <p>
        その他のサードパーティライセンスについては、<a href="/3rdpartylicenses.txt" target="_blank">こちら</a>
        をご覧ください。
      </p>
    </div>
  </section>
</div>
