<div class="info-contents">
  <section class="info-section">
    <h2>楽曲プレイリスト</h2>
    <iframe class="yt-movie" [src]="this.songVideoURL" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </section>

  <section class="info-section">
    <h2>デレステMVプレイリスト</h2>
    <iframe class="yt-movie" [src]="this.mvVideoURL" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </section>

  <section class="info-section">
    <h2>非公式OSSプロジェクト</h2>
    <section class="info-subsection">
      <h3>
        <a href="https://otokara.herokuapp.com/" target="_blank">
          おとカラゆうき
        </a>
      </h3>
      <div class="desc">
        <p>
          アイドルマスターの楽曲に特化したカラオケ楽曲検索サービスです。<br>
          DAMで歌えるアイマス楽曲を新着順で確認したり、ライブ公演のセトリ順に表示できます。<br>
          「カラオケに来たはいいけど何を歌おう？」「どのアイマス曲が入ってるかわからない」とお悩みのPさんはぜひご活用ください。
        </p>
      </div>
    </section>
    <section class="info-subsection">
      <h3>
        otokura.run (当サイト)
      </h3>
      <div class="desc">
        <p>
          本プロジェクトは、GitHubの
          <a href="https://github.com/otokurarun/otokura-run" target="_blank">
            otokura-run
          </a>
          リポジトリにて開発しています。<br>
          サードパーティライセンスについては、<a href="/3rdpartylicenses.txt" target="_blank">こちら</a>
          をご覧ください。
        </p>
      </div>
    </section>
  </section>

  <footer>
    当サイトは個人で開発しているものであり、バンダイナムコエンターテインメント様、Cygames様、バンダイナムコスタジオ様とは一切関係ありません。
  </footer>
</div>
